@font-face {
  font-family: Attemptyon;
  src: url(font/Attemptyon.ttf);
  font-family: FREESCPT;
  src: url(font/freestylescript-thin);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(165, 164, 167);
  border: solid;
  border-color: rgb(165, 164, 167);
  border-width: 5px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  background-image: url(img/tattoo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  padding: 5px;
  background-color: rgb(249, 246, 239);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 5px;
}

li {
  font-family: freestylescript;
  font-size: 35px;
  display: inline;
  margin-left: 20px;
  font-weight: 500;
  padding-right: 30px;
}

.menu li:hover {
  transform: scale(1.3) rotate(2deg);
}

.logo {
  font-family: Attemptyon;
  font-size: 40px;
  margin-left: 400px;
}

.tattoo {
  font-family: Attemptyon;
  font-size: 250px;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-weight: normal;
}
.signup {
  font-family: freestylescript;
  font-size: 60px;
  text-align: center;
  background-color: rgb(249, 246, 239);
  margin: 0;
  width: 20%;
  border: 1px solid rgb(249, 246, 239);
  border-radius: 30px;
}
a:hover {
transform: scale(1.3);
}

footer {
  height: 30px;
  background-color: rgb(249, 246, 239);
}
a {
  color: black;
  text-decoration: none;
}

.contacts h1 {
  font-family: freestylescript;
  font-size: 200px;
  font-weight: 300;
  display: flex;
  margin-top: 0px;
}

.contacts li {
  margin: 30px;
  padding-top: 30px;
}

.contacts img:hover {
  transform: scale(1.3);
}

@media (max-width: 900px) {
  .signup {
    font-family: FREESCPT;
    font-size: 60px;
    text-align: center;
    background-color: rgb(249, 246, 239);
    margin: 0;
    width: calc(100% - 16px);
    display: inline-block;
  }

  .tattoo {
    font-family: Attemptyon;
    font-size: 100px;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: normal;
  }
}
